<a href="https://colab.research.google.com/github/julialromero/Collaborative-Problem-Solving/blob/main/analyze_results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Imports

In [2]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

# Get User Input

In [3]:
PROJECT_DIR = "drive/MyDrive/CSCI 5922/CSCI 5922 - Final Project/"  #<--- Make a shortcut for the "CSCI 5922 - Final Project" shared folder on your Google Drive
RESULTS_DIR = PROJECT_DIR + "results/"
METRICS_DIR = RESULTS_DIR + "cross_val/Metrics/"

# Load Files

In [5]:
dfBinaryGarciaSmall = pd.read_csv(METRICS_DIR + "small_TaskScore_Metrics.csv")
dfBinaryGarciaMed = pd.read_csv(METRICS_DIR + "med_TaskScore_Metrics.csv")
dfBinaryGarciaLarge = pd.read_csv(METRICS_DIR + "large_TaskScore_Metrics.csv")

In [7]:
dfBinaryGarciaSmall

   iteration  accuracy     auroc  precision    recall
0          1  0.619926  0.673534   0.569378  0.901515
1          2  0.608856  0.679638   0.560185  0.916667
2          3  0.579336  0.690974   0.540541  0.909091
3          4  0.616236  0.715609   0.560870  0.977273
4          5  0.597786  0.628570   0.554502  0.886364
5          6  0.590406  0.667648   0.546256  0.939394
6          7  0.590406  0.652278   0.551724  0.848485
7          8  0.590406  0.680456   0.547511  0.916667
8          9  0.605166  0.680946   0.560386  0.878788
9         10  0.627306  0.714628   0.568889  0.969697

# Compare Metrics

### Averages

In [16]:
dfAverages = pd.DataFrame(columns=["model", "small_auroc", "med_auroc", "large_auroc", "max_auroc"])
dfAverages["model"] = ["Garcia", "Incv3"]
dfAverages = dfAverages.set_index("model")
dfAverages.loc["Garcia", "small_auroc"] = dfBinaryGarciaSmall["auroc"].mean()
dfAverages.loc["Garcia", "med_auroc"] = dfBinaryGarciaMed["auroc"].mean()
dfAverages.loc["Garcia", "large_auroc"] = dfBinaryGarciaLarge["auroc"].mean()
dfAverages.loc["Garcia", "max_auroc"] = dfAverages.loc["Garcia", : ].max()

dfAverages

       small_auroc med_auroc large_auroc max_auroc
model
Garcia    0.678428  0.689269    0.666133  0.689269
Incv3          NaN       NaN         NaN       NaN

### Medians

In [17]:
dfMedians = pd.DataFrame(columns=["model", "small_auroc", "med_auroc", "large_auroc", "max_auroc"])
dfMedians["model"] = ["Garcia", "Incv3"]
dfMedians = dfMedians.set_index("model")
dfMedians.loc["Garcia", "small_auroc"] = dfBinaryGarciaSmall["auroc"].median()
dfMedians.loc["Garcia", "med_auroc"] = dfBinaryGarciaMed["auroc"].median()
dfMedians.loc["Garcia", "large_auroc"] = dfBinaryGarciaLarge["auroc"].median()
dfMedians.loc["Garcia", "max_auroc"] = dfMedians.loc["Garcia", : ].max()

dfMedians

       small_auroc med_auroc large_auroc max_auroc
model
Garcia    0.680047  0.693591    0.672144  0.693591
Incv3          NaN       NaN         NaN       NaN